.timer-block{
    background: red;
    height: 60vh;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 800;
}